{% extends "base.html" %}

{% block includes%}
	<script src="/static/scripts/jquery.MetaData.js" type="text/javascript" language="javascript"></script>
	<script src="/static/scripts/jquery.rating.js" type="text/javascript" language="javascript"></script>
	
	<link href="/static/stylesheets/jquery.rating.css" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block title %}

{% if books %}
	Your Library
{% else %}

{% endif %}

{% endblock title %}


{% block content %}

	{% if not isLoggedIn %}
	<a href="{{ loginUrl }}">Login or create an account</a> to start tracking your books.<br />
	<small>(This site uses Google accounts so you will be redirected to google to login)</small>
	{% endif %}
	<br /><br />
	<table width="100%">
		<tr><td>Latest books being read right now</td></tr>
		<tr><td>
			{% for book in inprogressBooks %}
				{% include "bookthumbnail.html" %}
			{% endfor %}
		</td></tr>
	</table>
	
	<table width="100%">
		<tr><td>Latest added books</td></tr>
		<tr><td>
			{% for book in addedBooks %}
				{% include "bookthumbnail.html" %}
			{% endfor %}
		</td></tr>
	</table>
	
	<table width="100%">
		<tr><td>Latest finished books</td></tr>
		<tr><td>
			{% for book in finishedBooks %}
				{% include "bookthumbnail.html" %}
			{% endfor %}
		</td></tr>
	</table>
	
{% endblock content %}